backcall==0.1.0
decorator==4.4.0
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.14.0
numpy==1.16.4
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.7.4
python-Levenshtein==0.12.0
scikit-learn==0.20.1
scipy==1.2.0rc2
six==1.12.0
torch==1.0.0
torchvision==0.2.1
traitlets==4.3.2
wcwidth==0.1.7
